table,
th,
td {
  border: 1px solid;
  width: 100%;
  height: 30%;
}
th:first-child {
  width: 10%;
}
th:nth-child(2) {
  width: 25%;
}
th:nth-child(3) {
  width: 45%;
}
th:nth-child(4) {
  width: 20%;
  text-align: left;
  font-size: 24px;
}
h1 {
  text-align: center;
  font-weight: bold;
}
p {
}
.personal-form {
  margin: 0 auto;
  max-width: 60%;
  text-align: left;
}
