.header-container{
    width: 1440px;
    height: 64px;
    border: 1px solid var(--tag-green);
    display: flex;
}

.header-logo{
   width: 141px;
    height: 40px;
}

.logo-img{
    width: 24px;
    height: 24px;
    color: var(--primary);
}
.logo-text{
    color: var(--dark);
}