.hero{
    width: 100%;
    height: 524px;
   background-color: var(--primary);
    border-radius: 10px;
    background-image: url('../assets/images/hero-bg-1.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 20% center;
    background-size: auto 115%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-container{
    width: 426px;
    height: 404px;
    margin-top: 60px;
    color: var(--static-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-container-title{
    margin-top: 55px;
    letter-spacing: 0.05em;
    font-family: 'Allura', cursive;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}
.hero-container-text{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.18em;
    text-align: center;
    text-transform: uppercase;
}
.hero-button{
    width: 235px;
    height: 56px;
    margin-top: 11px;
    background-color: var(--dark);
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}
.hero-subtitle{
    margin-top: 11px;
    font-family: 'Allura', cursive;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.05em;
}