  :root {
      --primary: #ff4646;
      --static-white: #ffffff;
      --tag-purple: #4361fe;
      --content-background:#ecf3f8;
      --primary-10: #3f2d2d;
      --static-white-40: #7f7f7f;
      --tag-pink: #ff43f7;
      --overlay: #1c1f29;
      --dark: #171c29;
      --static-white-20: #555555;
      --tag-green: #05a44f;
        --primary-light: rgba(255, 70, 70, 0.5);
  }